.match-container {
  width: 65rem;
  margin: auto;
  height: 90vh;
  overflow-y: auto;
  padding: 1.5rem;
}

.match-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.match-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 0.5rem; */
}

.matchesFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0;
}

.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.match-number, .match-date, .vs-text {
  font-weight: bold;
}

.match-number {
  background-color: #031537;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.match-date {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.match-info {
  font-size: 0.8rem;
  color: #666;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 20rem;
  margin: 0.5rem 0;
}

.team img {
  width: 3rem;
  height: 3rem;
}

.vs-text {
  font-size: 1.5rem;
  color: #888;
}

.matchResult {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1rem;
}

.impactPlayer, .matchPlayer {
  display: flex;
  flex-direction: column;
}

.match-centre-btn {
  background-color: #3f71cf;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  transition: background-color 0.3s ease;
}

.match-centre-btn:hover {
  background-color: #031537;
}