.selectedTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamDetailsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  width: 78rem;
  color: white;
}

.rowHeader {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowData {
  width: 25rem;
  padding-left: 0.5rem;
}
