.about-wrapper {
  height: "100%";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.about-container {
  padding: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: #031537;
}

.about-text {
  color: #5e5b5b;
  margin-bottom: 1rem;
}

.about-heading {
  color: #06266f;
  margin-top: 1rem;
}

.about-list li {
  font-size: 1rem;
  color: #5e5b5b;
  padding: 0.5rem 0;
}

.check-icon {
  font-size: 1.5rem;
}

.about-footer {
  color: #031537;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
